* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgba(70, 171, 202, 0.479);

  .logo-container {
    display: flex;
    height: 10vh;
    width: 100vw;
    .navbar-logo {
      color: blue;
      background: papayawhip;
      width: 200px;
      height: inherit;
      flex-grow: 1;
    }

    .navbar-slogan {
      color: white;
      background: black;
      width: 200px;
      height: inherit;
      flex-grow: 1;
    }
  }
  .sticky {
    position: sticky;
    top: 0;
  }

  .navbar {
    background: rgba(129, 88, 204, 0.932);
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // flex-direction: row-reverse;

    .navitems {
      .navitem-list {
        display: flex;
        list-style: none;

        .nav-item {
          padding: 0.3rem;

          .nav-link {
            font-size: 1.2rem;
            text-decoration: none;
            color: bisque;
            padding: 0.3rem;
          }

          .nav-link:hover {
            color: rgb(238, 174, 96);
            transition: 0.3s color ease-in-out;
          }
        }
      }
    }
  }
}
.text-dummy {
  text-align: center;
  scrollbar-width: 0.5px;
}
