/*variables*/
:root {
  --primary-color: #d9d9d9;
  --accent-color: #00a54f;
  --dark-color: #6e2c91;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.5rem;
  background: var(--primary-color);

  .bannerContainer {
    background: var(--dark-color);
    .banner {
      padding-left: 5px;
      display: flex;
      .logo {
        max-height: 150px;
      }
      h1 {
        text-align: center;
        font-family: "Abril Fatface", cursive;
        padding-left: 100px;
        font-size: 6rem;
        flex: 0 0 70%;
        letter-spacing: 15px;
      }
    }

    #slogan {
      font-family: "Pinyon Script", cursive;
      align-self: center;
      padding-left: 600px;
      font-size: 3rem;
    }
  }

  nav {
    padding-bottom: 5px 0;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
    }
    li {
      border: 1px solid black;
    }
    li:hover,
    nav li:focus {
      background: var(--accent-color);
      a {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
    a {
      display: inline-block;
      padding: 0.5em;
      text-decoration: none;
      color: var(--dark-color);
    }
  }

  li {
    list-style-position: inside;
  }
  ul,
  ol {
    padding-left: 10%;
    padding-right: 10%;
  }

  p {
    padding-left: 10%;
    padding-right: 10%;
  }

  .activeTab {
    background: var(--accent-color);
    a {
      color: var(--primary-color);
    }
  }
  img {
    display: block;
    max-width: 100%;
  }

  footer {
    width: 100vw;
    font-size: 1.5rem;
    text-align: center;
    bottom: 0;
    position: fixed;
    background: var(--dark-color);
    color: var(--primary-color);
  }
}
