.inverse {
  background-color: indigo;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: "1em";
  align-items: flex-end;
}
@media screen and (max-width: 900px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: ".76em";
    justify-content: flex-end;
  }
}
